main.gallery {
    height: 100vh;
    overflow: auto;

    section.collection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1200px;
        width: 100%;
        margin: 80px auto;
        position: relative;
        animation-name: gallery-slide-in;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
        right: 0px;

        @keyframes gallery-slide-in {
            from {
                right: -1920px;
            }
        }

        img {
            width: 287px;
            background-color: #494949;
            margin: 8px;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                z-index: 1;
            }
        }
    }
}