main.homepage {
    height: 100vh;

    main.main-content {
        position: relative;
        animation-name: home-slide-in;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
        left: 0;

        @keyframes home-slide-in {
            from {
                left: -1920px;
            }
        }
    }

    .logo {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50vh;
        width: 950px;

        @media only screen and (max-width: 480px) {
            width: 250px;
        }
    }

    aside {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        right: 18px;
        top: 45vh;
        opacity: 0;
        animation-name: icons-slide-in;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
        animation-delay: 0.5s;

        @media only screen and (max-width: 480px) {
            animation-name: unset;
            opacity: 1;
            right: 0;
            left: 0;
            bottom: 0px;
            top: 80vh;
            flex-direction: row;
        }

        @keyframes icons-slide-in {
            from {
                right: -50px;
            }

            to {
                opacity: 1;
            }
        }

        a {
            margin: 5px 0;

            @media only screen and (max-width: 480px) {
                margin: 0px;
            }

            img {
                height: 20px;

                @media only screen and (max-width: 480px) {
                    height: 20px;
                }
            }
        }
    }
}