@import './gallery.scss';
@import './music.scss';
@import './homepage.scss';

@font-face {
    font-family: "Geometria";
    font-weight: normal;
    src: url('/fonts/Geometria.ttf');
}

@font-face {
    font-family: "Geometria";
    font-weight: 300;
    src: url('/fonts/Geometria-Light.ttf');
}

@font-face {
    font-family: "Geometria";
    font-weight: 400;
    src: url('/fonts/geometria-medium.ttf');
}

@font-face {
    font-family: "Geometria";
    font-weight: bold;
    src: url('/fonts/Geometria-Bold.ttf');
}

@font-face {
    font-family: "Geometria";
    font-weight: bolder;
    src: url('/fonts/Geometria-ExtraBold.ttf');
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #404040;
    font-family: Geometria;
}

* {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.loader {
    color: white;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 100px;
    top: 48vh;
    opacity: 0.5;
}

video.video-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    transform: scale(1.2)
}

video.mobile-vid {
    display: none;
}

@media only screen and (max-width: 480px) {
    video.mobile-vid {
        display: block;
    }

    video.desktop-vid {
        display: none;
    }
}

footer.nav-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    ul {
        display: flex;
        justify-content: space-between;

        a {
            font-size: 18px;
            font-weight: bold;
            color: #fafafa;
            border-top: solid 2px;
            cursor: pointer;
            text-decoration: none;
            position: relative;

            &:first-child {
                padding: 15px 0 7px 80px;
                animation: slide-right;
                animation-duration: 1.5s;
                animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                animation-fill-mode: forwards;

                @keyframes slide-right {
                    from {
                        transform: translateX(-200px);
                    }
                }

                @media only screen and (max-width: 480px) {
                    padding: 15px 0 7px 20px;
                }
            }

            &:last-child {
                padding: 15px 80px 7px 0;
                animation: slide-left;
                animation-duration: 1.5s;
                animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                animation-fill-mode: forwards;

                @keyframes slide-left {
                    from {
                        transform: translateX(200px);
                    }
                }

                @media only screen and (max-width: 480px) {
                    padding: 15px 20px 7px 0;
                }
            }
        }
    }
}

#main-song {
    position: absolute;
    width: 0;
    &-controller {
        position: absolute;
        border: solid 2px;
        background: transparent;
        color: #fafafa;
        top: 40vh;
        right: 18px;
        padding: 10px;
        z-index: 9999;
        cursor: pointer;
        border-radius: 100%;
        font-weight: bold;

        &:hover {
            transform: scale(1.1)
        }

        &:active,
        &:focus {
            outline: none;
        }

        img {
            height: 10px;
            width: 10px;
        }
    }
}