main.music {
    height: 100vh;
    overflow: auto;

    section.songs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 910px;
        width: 100%;
        margin: 80px auto;
        position: relative;
        animation-name: music-slide-in;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
        right: 0;

        @keyframes music-slide-in {
            from {
                right: -1920px;
            }
        }

        div.song {
            margin: 10px auto;
            display: flex;
            align-items: center;

            div.poster {
                margin-right: 87px;

                @media only screen and (max-width: 480px) {
                    margin-right: 35px;
                }

                img {
                    height: 352px;
                    width: 352px;

                    @media only screen and (max-width: 480px) {
                        height: 141px;
                        width: 141px;
                    }
                }
            }

            div.details {
                color: #fafafa;

                h2 {
                    font-size: 24px;

                    @media only screen and (max-width: 480px) {
                        font-size: 19px;
                    }
                }

                h3 {
                    font-size: 32px;

                    @media only screen and (max-width: 480px) {
                        font-size: 20px;
                    }
                }

                h1 {
                    font-size: 48px;
                    margin-bottom: 11px;
                    margin-top: 8px;

                    @media only screen and (max-width: 480px) {
                        font-size: 32px;
                    }
                }
            }

            button {
                height: 44px;
                width: 236px;
                color: #fafafa;
                background-color: transparent;
                font-size: 24px;
                font-weight: bold;
                border-radius: 2px;
                cursor: pointer;

                @media only screen and (max-width: 480px) {
                    width: 120px;
                    height: 30px;
                    font-size: 16px;
                }

                &:hover {
                    background: #fafafa;
                    color: #404040;
                }

                &:active,
                &:focus {
                    outline: none;
                }
            }
        }
    }
}